DB_HOST=
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=postgres
DB_SSLMODE=require

# Supabase project
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

PUBLIC_FRONTEND_URL=http://localhost:3000
PUBLIC_API_URL=http://localhost:8081
